{% extends 'base.html.twig' %}


{% block title %}
    Repositorio de Provas
{% endblock %}


{% block body %}


    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="preloader-spinner">
            </div>
        </div>
    </div>
    <!-- /Loading animation -->

{#
    <div class="page">
        <div class="page-content">


            {{ include('site/components/menu_left.html.twig') }}


            <div class="content-area">
                <div class="animated-sections">


                    {{ include('site/components/home.html.twig') }}


                    {{ include('site/components/cursos.html.twig') }}


                    {{ include('site/components/disciplinas.html.twig') }}


                    {{ include('site/components/provas.html.twig') }}


                    {{ include('site/components/enviar_provas.html.twig') }}


                    {{ include('site/components/contato.html.twig') }}


                </div>
            </div>

        </div>
    </div>
#}

    <div id="app" ></div>



{% endblock %}
